In [11]:
import mysql.connector

In [19]:
database_config = {
    "user": "tournament_user",
    "password": "tournament_pass",
    "host": "localhost",
    "database": "name_generator"
}

In [20]:
conn = mysql.connector.connect(**database_config)
cursor = conn.cursor()

In [24]:
select_chinese_first_names = """
SELECT first_names.value 
FROM first_names
INNER JOIN regions
    ON regions.id = first_names.id_region
WHERE regions.language = 'Chinese';
"""

select_chinese_last_names = """
SELECT last_names.value 
FROM last_names
INNER JOIN regions
    ON regions.id = last_names.id_region
WHERE regions.language = 'Chinese';
"""

In [25]:
cursor.execute(select_chinese_first_names)
first_names = cursor.fetchall()

In [26]:
cursor.execute(select_chinese_last_names)
last_names = cursor.fetchall()

In [43]:
from random import choice, triangular, randint

In [33]:
conn.close()

In [41]:
' '.join([choice(first_names)[0].capitalize(), choice(last_names)[0]])

'Yong Phan'

In [58]:
players = []
for _ in range(200000):
    name = ' '.join([choice(first_names)[0].capitalize(), choice(last_names)[0]])
    nationality = choice(['Korean','Chinese','Japanese'])
    birth_year = randint(1989,2006)
    position = choice(['GK', 'CB', 'RB', 'LB', 'DM', 'CM', 'AM', 'RM', 'LM', 'SS', 'WG', 'CF'])
    height = float("{:.2f}".format(triangular(1.50, 1.80)))
    weight = float("{:.2f}".format(triangular(60,90)))
    foot = choice(['Right','Left'])

    players.append([ name, nationality, position, height, weight, foot, birth_year])

In [52]:
from basic_code import get_db_connector

In [53]:
conn = get_db_connector()
cursor = conn.cursor()

In [57]:
insert_query = """
INSERT INTO players(name, nationality, position, height, weight, foot, birth_year, retired)
VALUES(%s, %s, %s, %s, %s, %s, %s, NULL)
"""

In [59]:
for player in players:
    cursor.execute(insert_query, player)
conn.commit()

In [60]:
conn.close()